/* ===============================
   CONTENEDOR GENERAL
================================= */
.numeros-container {
  padding: 25px;
  display: flex;
  justify-content: center;
  overflow: visible;
}

/* ===============================
   TARJETA COMPARTIBLE
================================= */
.numeros-card {
  width: 100%;
  max-width: 900px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

/* ===============================
   GRID 10x10
================================= */

/* ===============================
   GRID
================================= */
.gridNumeros {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 6px;
}

/* ===============================
   CUADRO
================================= */
.botonNumero {
  aspect-ratio: 1 / 1;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  border: 1px solid #ccc;

  padding: 0;
  cursor: pointer;

  position: relative;
}

/* ===============================
   NUMERO INTERNO CONTROLADO
================================= */
.numeroTexto {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}


.botonNumero:hover {
  transform: scale(1.05);
}

/* ===============================
   ESTADOS GRID
================================= */
.botonNumero.libre {
  background: #e2e8f0;
  color: #0f172a;
  border: 1px solid #cfcfcf;
}

.botonNumero.reservado {
  background: #facc15;
  color: #facc15;
}

.botonNumero.pagado {
  background: #22c55e;
  color: #22c55e;
}

/* ===============================
   LEYENDA
================================= */
.leyenda-estados {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
}

.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.dot.libre { background: #e2e8f0; }
.dot.reservado { background: #facc15; }
.dot.pagado { background: #22c55e; }

/* ===============================
   RESPONSIVE
================================= */
@media (max-width: 600px) {

  .numeros-card {
    padding: 10px;
  }

  .gridNumeros {
    gap: 4px;
  }

  .botonNumero {
    font-size: 12px;
  }
}

.modo-captura .leyenda-estados span {
  transform: translateY(10px);
}

.modo-captura .numeroTexto span {
  transform: translateY(100px);
}