body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #b7c9db, #2a70ca);
}

.header {
    background-color: #000000;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    padding: 12px 0;
    width: 100%;
}

.footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 0;
    width: 100%;
    margin-top: auto;
}